In [1]:
import pandas as pd
import numpy as np

#Cargamos el fichero de películas con sus genéros. movies.dat tiene los generos de las películas separados por barra
peliculas = pd.read_table('data/movies.dat', header=None, sep='::', engine='python', names=['movie_id', 'movie_title', 'movie_genre'])

peliculas.head()

   movie_id                         movie_title                   movie_genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [6]:
ratings = pd.read_table('data/ratings.dat', header=None, sep='::', engine='python', names=['user_id', 'movie_id', 'rating', 'timestamp'])
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [7]:
#Cargamos el fichero con las puntuaciones de las películas, ratings.dat
ratings = pd.read_table('data/ratings.dat', header=None, sep='::', engine='python', names=['user_id', 'movie_id', 'rating', 'timestamp'])

#Borramos la fecha en la que el rating fue creado
del ratings ['timestamp']

#Reemplazamos la id de la película por su título para tener una mayor claridad
ratings = pd.merge(ratings, peliculas, on='movie_id')[['user_id', 'movie_title', 'movie_id','rating']]

ratings.head()

   user_id                             movie_title  movie_id  rating
0        1  One Flew Over the Cuckoo's Nest (1975)      1193       5
1        2  One Flew Over the Cuckoo's Nest (1975)      1193       5
2       12  One Flew Over the Cuckoo's Nest (1975)      1193       4
3       15  One Flew Over the Cuckoo's Nest (1975)      1193       4
4       17  One Flew Over the Cuckoo's Nest (1975)      1193       5

In [8]:
# Creamos una nueva matriz con los ratios de cada usuario para todas las películas
ratings_matriz = ratings.pivot_table(values='rating', index='user_id', columns='movie_title')
# Ponemos 0 donde no tengamos puntuación
ratings_matriz.fillna(0, inplace=True)

pelicula_index = ratings_matriz.columns

ratings_matriz.head()

movie_title,"$1,000,000 Duck (1971)",'Night Mother (1986),'Til There Was You (1997),"'burbs, The (1989)",...And Justice for All (1979),1-900 (1994),10 Things I Hate About You (1999),101 Dalmatians (1961),101 Dalmatians (1996),12 Angry Men (1957),...,"Young Poisoner's Handbook, The (1995)",Young Sherlock Holmes (1985),Young and Innocent (1937),Your Friends and Neighbors (1998),Zachariah (1971),"Zed & Two Noughts, A (1985)",Zero Effect (1998),Zero Kelvin (Kjærlighetens kjøtere) (1995),Zeus and Roxanne (1997),eXistenZ (1999)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
pelicula_index

Index(['$1,000,000 Duck (1971)', ''Night Mother (1986)',
       ''Til There Was You (1997)', ''burbs, The (1989)',
       '...And Justice for All (1979)', '1-900 (1994)',
       '10 Things I Hate About You (1999)', '101 Dalmatians (1961)',
       '101 Dalmatians (1996)', '12 Angry Men (1957)',
       ...
       'Young Poisoner's Handbook, The (1995)', 'Young Sherlock Holmes (1985)',
       'Young and Innocent (1937)', 'Your Friends and Neighbors (1998)',
       'Zachariah (1971)', 'Zed & Two Noughts, A (1985)', 'Zero Effect (1998)',
       'Zero Kelvin (Kjærlighetens kjøtere) (1995)', 'Zeus and Roxanne (1997)',
       'eXistenZ (1999)'],
      dtype='object', name='movie_title', length=3706)

In [10]:
# Calculamos la correlación (coeficiente de correlación de Pearson(PMCC)) entre las películas en función de la puntuación de los usuarios.
# PMCC tiene un valor entre -1 y 1 que mide cuán relacionadas están un par de variables cuantitativas.
corr_matrix = np.corrcoef(ratings_matriz.T)
corr_matrix.shape

(3706, 3706)

In [11]:
favorita_pelicula = 'Toy Story (1995)'

favorita_pelicula_index = list(pelicula_index).index(favorita_pelicula)

P = corr_matrix[favorita_pelicula_index]

#Mostramos las películas más relacionadas con Toy Story según su valor de correlación.
list(pelicula_index[(P>0.4) & (P<1.0)])

['Aladdin (1992)',
 "Bug's Life, A (1998)",
 'Groundhog Day (1993)',
 'Lion King, The (1994)',
 'Toy Story 2 (1999)']

In [14]:
#determina la posición en el listado de películas que tiene  Toy Story
list(pelicula_index).index(favorita_pelicula)

3411

In [15]:
#El listado de correlación que tiene la película Toy Story con cada uno de los usuarios
P

array([0.05174442, 0.04210762, 0.04271477, ..., 0.01268849, 0.04293014,
       0.08088685])

In [16]:
#Devuelve el vector de correlación para una película
def get_pelicula_similar(pelicula):
    movie_idx = list(pelicula_index).index(pelicula)
    return corr_matrix[movie_idx]

#Devolvemos las películas más similares a los gustos de un usuario determinado.
#Si queremos recomendar películas a un usuario, obtenemos la lista de las películas que ha visto y sumamos las correlaciones
#de esas películas con todas las demás para devolver las películas con una mayor correlación total.
def get_pelicula_recomendaciones(usuario):
    pelicula_similares = np.zeros(corr_matrix.shape[0])
    for pelicula_id in usuario:
        pelicula_similares = pelicula_similares + get_pelicula_similar(pelicula_id)
        similares_df = pd.DataFrame({
        'Titulo': pelicula_index,
        'sum_similar': pelicula_similares
        })
    similares_df = similares_df[~(similares_df.Titulo.isin(usuario))]
    similares_df = similares_df.sort_values(by=['sum_similar'], ascending=False)
    return similares_df

In [17]:
#Vamos a recomendar películas al usuario 21, que ha visto las siguientes películas con su rating correspondiente
sample_usuario = 21
ratings[ratings.user_id==sample_usuario].sort_values(by=['rating'], ascending=False)

,user_id,movie_title,movie_id,rating
583304,21,Titan A.E. (2000),3745,5
707307,21,"Princess Mononoke, The (Mononoke Hime) (1997)",3000,5
70742,21,Star Wars: Episode VI - Return of the Jedi (1983),1210,5
239644,21,"South Park: Bigger, Longer and Uncut (1999)",2700,5
487530,21,Mad Max Beyond Thunderdome (1985),3704,4
707652,21,Little Nemo: Adventures in Slumberland (1992),2800,4
708015,21,Stop! Or My Mom Will Shoot (1992),3268,3
706889,21,"Brady Bunch Movie, The (1995)",585,3
623947,21,"Iron Giant, The (1999)",2761,3
619784,21,Wild Wild West (1999),2701,3
4211,21,"Bug's Life, A (1998)",2355,3
368056,21,Akira (1988),1274,3
226126,21,Who Framed Roger Rabbit? (1988),2987,3
41633,21,Toy Story (1995),1,3
34978,21,Aladdin (1992),588,3
33432,21,Antz (1998),2294,3
18917,21,Bambi (1942),2018,1
612215,21,"Devil's Advocate, The (1997)",1645,1
617656,21,"Prince of Egypt, The (1998)",2394,1
440983,21,Pinocchio (1940),596,1
707674,21,"Messenger: The Story of Joan of Arc, The (1999)",3053,1
708194,21,House Party 2 (1991),3774,1

In [19]:
#Determinamos el listado de títulos de películas dei usuario 21. Se coge el df ratings y se convierte a listado la columna
#movie_title
sample_usuario_peliculas = ratings[ratings.user_id==sample_usuario].movie_title.tolist()
sample_usuario_peliculas

["Bug's Life, A (1998)",
 'Bambi (1942)',
 'Antz (1998)',
 'Aladdin (1992)',
 'Toy Story (1995)',
 'Star Wars: Episode VI - Return of the Jedi (1983)',
 'Who Framed Roger Rabbit? (1988)',
 'South Park: Bigger, Longer and Uncut (1999)',
 'Akira (1988)',
 'Pinocchio (1940)',
 'Mad Max Beyond Thunderdome (1985)',
 'Titan A.E. (2000)',
 "Devil's Advocate, The (1997)",
 'Prince of Egypt, The (1998)',
 'Wild Wild West (1999)',
 'Iron Giant, The (1999)',
 'Brady Bunch Movie, The (1995)',
 'Princess Mononoke, The (Mononoke Hime) (1997)',
 'Little Nemo: Adventures in Slumberland (1992)',
 'Messenger: The Story of Joan of Arc, The (1999)',
 'Stop! Or My Mom Will Shoot (1992)',
 'House Party 2 (1991)']

In [20]:
sample_usuario_peliculas = ratings[ratings.user_id==sample_usuario].movie_title.tolist()
#Mandamos a la funcion get_pelicula_recomendaciones el listado de películas que ha visto el usuario para que nos de el listado
#de películas recomendadas.
recomendaciones = get_pelicula_recomendaciones(sample_usuario_peliculas)

#Obtenemos las 20 películas con mejor puntuación
recomendaciones.Titulo.head(20)

1939                     Lion King, The (1994)
324                Beauty and the Beast (1991)
1948                Little Mermaid, The (1989)
3055    Snow White and the Seven Dwarfs (1937)
647                     Charlotte's Web (1973)
679                          Cinderella (1950)
1002                              Dumbo (1941)
301                              Batman (1989)
3250            Sword in the Stone, The (1963)
303                      Batman Returns (1992)
2252                              Mulan (1998)
2924                Secret of NIMH, The (1982)
2808                         Robin Hood (1973)
3026                    Sleeping Beauty (1959)
1781                   Jungle Book, The (1967)
260         Back to the Future Part III (1990)
259          Back to the Future Part II (1989)
2558                          Peter Pan (1953)
2347             NeverEnding Story, The (1984)
97                  Alice in Wonderland (1951)
Name: Titulo, dtype: object

In [22]:
recomendaciones

                                                 Titulo  sum_similar
1939                              Lion King, The (1994)     5.453611
324                         Beauty and the Beast (1991)     5.384934
1948                         Little Mermaid, The (1989)     4.967455
3055             Snow White and the Seven Dwarfs (1937)     4.954111
647                              Charlotte's Web (1973)     4.948065
679                                   Cinderella (1950)     4.917892
1002                                       Dumbo (1941)     4.909080
301                                       Batman (1989)     4.878468
3250                     Sword in the Stone, The (1963)     4.851537
303                               Batman Returns (1992)     4.831879
2252                                       Mulan (1998)     4.820450
2924                         Secret of NIMH, The (1982)     4.807456
2808                                  Robin Hood (1973)     4.773922
3026                             Sleeping Beauty (1959)     4.750130
1781                            Jungle Book, The (1967)     4.747731
260                  Back to the Future Part III (1990)     4.727301
259                   Back to the Future Part II (1989)     4.717815
2558                                   Peter Pan (1953)     4.696922
2347                      NeverEnding Story, The (1984)     4.675345
97                           Alice in Wonderland (1951)     4.670916
3225                                    Superman (1978)     4.665687
7                                 101 Dalmatians (1961)     4.644465
3226                                 Superman II (1980)     4.643595
1611                Hunchback of Notre Dame, The (1996)     4.621505
2095                               Mars Attacks! (1996)     4.614746
1111                                    Fantasia (1940)     4.598332
1568                    Honey, I Shrunk the Kids (1989)     4.549218
3635       Willy Wonka and the Chocolate Factory (1971)     4.548282
2373             Nightmare Before Christmas, The (1993)     4.490219
141                            American Tail, An (1986)     4.489728
...                                                 ...          ...
256                                   Back Stage (2000)    -0.104538
3491                         Uninvited Guest, An (2000)    -0.104538
249                                    Baby, The (1973)    -0.104538
1203                            Follow the Bitch (1998)    -0.104538
3637                                     Windows (1980)    -0.104538
2903          Schlafes Bruder (Brother of Sleep) (1995)    -0.104538
2050       Make Them Die Slowly (Cannibal Ferox) (1980)    -0.104538
2667                           Project Moon Base (1953)    -0.104538
2490                               Outside Ozona (1998)    -0.104538
3050                          Smoking/No Smoking (1993)    -0.104538
1477                                      Harlem (1993)    -0.104538
2019                        Loves of Carmen, The (1948)    -0.104538
2847                                       Roula (1995)    -0.104538
1562                                   Home Page (1999)    -0.108207
598       Carmen Miranda: Bananas Is My Business (1994)    -0.108612
3220                                Sunset Strip (2000)    -0.117477
439   Blood Spattered Bride, The (La Novia Ensangren...    -0.119380
2505             Pandora and the Flying Dutchman (1951)    -0.125819
3217                              Sunchaser, The (1996)    -0.129747
1512                                     Held Up (2000)    -0.129758
3044                               Smashing Time (1967)    -0.134906
233                     Autopsy (Macchie Solari) (1975)    -0.136756
996               Dry Cleaning (Nettoyage à sec) (1997)    -0.142181
2628                                  Possession (1981)    -0.142675
3251                         Synthetic Pleasures (1995)    -0.149566
3125        Spring Fever USA (a.k.a. Lauderdale) (1989)    -0.152911
2752                            Regret to Inform (1998)    -0.159901
501                                    Boys, The (1997)    -0.168303
1499                            Hearts and Minds (1996)    -0.174196
1425                              Grosse Fatigue (1994)    -0.177047

[3684 rows x 2 columns]